<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">


#  Combine S&P 500 Datasets <a class="anchor" id="PSCRAP"></a>



<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

In [1]:
import pandas as pd

In [2]:
set1 = pd.read_csv('../Data/all_3_Ig.csv')

In [3]:
set2 = pd.read_csv('../Data/all_4_JV.csv')

In [5]:
set3 = pd.read_csv('../Data/all_4.JC.csv')

In [13]:
SP500total = pd.merge(set1, pd.merge(set2, set3, on='year_month'), on='year_month')

In [17]:
SP500total.head()

,Unnamed: 0_x,year_month,diff_sp_mat,diff_sp_utilities,diff_sp_real_estate,Unnamed: 0_y,diff_financials,diff_IT,diff_Healthcare,diff_CD,index,diff_energy,diff_Industrials,diff_CommS,diff_CStaples
0,0,2018-06,1.177986,1.306953,1.057051,0,1.322060,1.800008,0.993753,1.241266,0,1.715445,1.034474,1.718983,0.916466
1,1,2018-07,1.072100,1.244638,1.108908,1,1.133004,1.463536,0.772936,0.968630,1,1.474447,1.169607,1.403065,0.903865
2,2,2018-08,1.109348,1.040203,0.896781,2,0.808557,1.615201,0.617620,0.788365,2,1.287871,0.849912,1.073667,0.810503
3,3,2018-09,1.010006,1.177992,1.024071,3,0.925449,1.835214,0.712748,0.904002,3,1.256175,0.802598,1.355768,0.867854
4,4,2018-10,1.916777,1.677990,1.706552,4,1.958005,2.577963,1.808205,2.291125,4,2.211363,1.953039,2.526557,1.432647

In [18]:

columns_to_drop = ['Unnamed: 0_x', 'Unnamed: 0_y', 'index']
SP500 = SP500total.drop(columns=columns_to_drop)

In [21]:
SP500.columns

Index(['year_month', 'diff_sp_mat', 'diff_sp_utilities', 'diff_sp_real_estate',
       'diff_financials', 'diff_IT', 'diff_Healthcare', 'diff_CD',
       'diff_energy', 'diff_Industrials', 'diff_CommS', 'diff_CStaples'],
      dtype='object')

In [22]:
# 
column_names = {
    'diff_sp_mat': 'Materials',
    'diff_sp_utilities': 'Utilities',
    'diff_sp_real_estate': 'Real Estate',
    'diff_financials': 'Financials',
    'diff_IT': 'Information Technology',
    'diff_Healthcare': 'Healthcare',
    'diff_CD': 'Consumer Discretionary',
    'diff_energy': 'Energy',
    'diff_Industrials': 'Industrials',
    'diff_CommS': 'Communication Services',
    'diff_CStaples': 'Consumer Staples'
}

SP500 = SP500.rename(columns=column_names)

In [24]:
SP500.head()

,year_month,Materials,Utilities,Real Estate,Financials,Information Technology,Healthcare,Consumer Discretionary,Energy,Industrials,Communication Services,Consumer Staples
0,2018-06,1.177986,1.306953,1.057051,1.322060,1.800008,0.993753,1.241266,1.715445,1.034474,1.718983,0.916466
1,2018-07,1.072100,1.244638,1.108908,1.133004,1.463536,0.772936,0.968630,1.474447,1.169607,1.403065,0.903865
2,2018-08,1.109348,1.040203,0.896781,0.808557,1.615201,0.617620,0.788365,1.287871,0.849912,1.073667,0.810503
3,2018-09,1.010006,1.177992,1.024071,0.925449,1.835214,0.712748,0.904002,1.256175,0.802598,1.355768,0.867854
4,2018-10,1.916777,1.677990,1.706552,1.958005,2.577963,1.808205,2.291125,2.211363,1.953039,2.526557,1.432647

In [25]:
SP500.to_csv('../Data/SP500.csv')