<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Python Notebook for Stock Market Analysis

- [API Reference]()
- [Reference]()

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

### Table of Contents <a class="anchor" id="PSMA_toc"></a>

* [Table of Contents](#PSMA_toc)
    * [1. Abstract](#PSMA_page_1)
    * [2. Imported Libraries](#PSMA_page_2)
    * [3. Import the Dataset](#PSMA_page_3)
    * [4. Setting Notebook Options](#PSMA_page_4)
    * [5. Test Run](#PSMA_page_5)
    * [6. Checking the Column Names](#PSMA_page_6)
    * [7. Cleaning the Column Names](#PSMA_page_7)
    * [8. Creating a new Cleaned Dataset](#PSMA_page_8)
    * [9. Counting Columns](#PSMA_page_9)
    * [10. Get Info about the Dataset](#PSMA_page_10)
    * [11. Get Descriptive Statistics about the Dataset](#PSMA_page_11)
    * [12. Counting Rows and Removing any NANs](#PSMA_page_12)
    * [13. Correlation Analysis](#PSMA_page_13)
    * [14. Principal Component Analysis (PCA)](#PSMA_page_14)
    * [15. Group Comparison](#PSMA_page_15)
    * [16. Fisher's Discriminant Analysis and Support Vector Machines (SVM)](#PSMA_page_16)
    * [17. Groupby Function](#PSMA_page_17)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 1 - Abstract <a class="anchor" id="PSMA_page_1"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 2 - Imported Libraries<a class="anchor" id="PSMA_page_2"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 3 - Import The Dataset<a class="anchor" id="PSMA_page_3"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 4 - Setting Notebook Options<a class="anchor" id="PSMA_page_4"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

In [1]:
import PSMAdas as pd

In [2]:
data = pd.read_csv("../Data/data.csv")

In [3]:
data.head()

         Date    Value
0  2022-01-01  4910.38
1  2022-01-31  4515.55
2  2022-02-01  4719.29
3  2022-02-28  4373.94
4  2022-03-01  4610.17