<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Python Notebook for Stock Market Analysis

- [API Reference]()
- [Reference]()

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

### Table of Contents <a class="anchor" id="PSMA_toc"></a>

* [Table of Contents](#PSMA_toc)
    * [1. Abstract](#PSMA_page_1)
    * [2. Imported Libraries](#PSMA_page_2)
    * [3. Import the Dataset](#PSMA_page_3)
    * [4. Setting Notebook Options](#PSMA_page_4)
    * [5. Looking at the Data](#PSMA_page_5)
    * [6. Checking the Column Names](#PSMA_page_6)
    * [7. Cleaning the Column Names](#PSMA_page_7)
    * [8. Creating a new Cleaned Dataset](#PSMA_page_8)
    * [9. Counting Columns](#PSMA_page_9)
    * [10. Get Info about the Dataset](#PSMA_page_10)
    * [11. Get Descriptive Statistics about the Dataset](#PSMA_page_11)
    * [12. Counting Rows and Removing any NANs](#PSMA_page_12)
    * [13. Correlation Analysis](#PSMA_page_13)
    * [14. Principal Component Analysis (PCA)](#PSMA_page_14)
    * [15. Group Comparison](#PSMA_page_15)
    * [16. Fishers Discriminant Analysis and Support Vector Machines (SVM)](#PSMA_page_16)
    * [17. Groupby Function](#PSMA_page_17)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 1 - Abstract <a class="anchor" id="PSMA_page_1"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

How does the Industrials, Communication Services, Consumer Staples & Energy sector effect the performance of the S&P 500 index?

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 2 - Import Libraries <a class="anchor" id="PSMA_page_2"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

In [26]:
import pandas as pd
import numpy as np
from scipy import stats 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
pd.set_option('display.max_columns',100) 
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 3 - Import Dataset <a class="anchor" id="PSMA_page_3"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

In [37]:
ConStaples = pd.read_csv("C:/Users/Owner/Documents/GitHub/SmartInvest/Data/Consumer_Staples_JC.csv")

In [38]:
ConStaples.head()

,Unnamed: 0,Date,Open,High,Low,Close*,Adj Close**,Volume
0,0,"May 30, 2023",760.46,762.27,754.13,756.55,756.55,"164,164,200"
1,1,"May 26, 2023",761.29,765.94,758.95,764.84,764.84,"147,625,000"
2,2,"May 25, 2023",762.06,764.78,756.94,762.16,762.16,"165,712,800"
3,3,"May 24, 2023",773.43,773.68,767.33,768.05,768.05,"128,804,700"
4,4,"May 23, 2023",776.58,776.58,771.93,773.06,773.06,"137,650,500"

In [39]:
CommS = pd.read_csv("C:/Users/Owner/Documents/GitHub/SmartInvest/Data/Communication_Services_JC.csv")

In [40]:
CommS.head()

,Unnamed: 0,Date,Open,High,Low,Close*,Adj Close**,Volume
0,0,"May 30, 2023",210.92,212.64,209.39,210.77,210.77,"290,422,500"
1,1,"May 26, 2023",207.37,211.14,206.53,210.92,210.92,"307,898,400"
2,2,"May 25, 2023",206.48,209.82,206.39,207.37,207.37,"399,977,700"
3,3,"May 24, 2023",207.14,207.45,205.20,206.48,206.48,"253,331,100"
4,4,"May 23, 2023",210.85,210.90,207.73,207.73,207.73,"272,091,700"

In [41]:
Energy = pd.read_csv("C:/Users/Owner/Documents/GitHub/SmartInvest/Data/Energy_JC.csv")

In [42]:
Energy.head()

,Unnamed: 0,Date,Open,High,Low,Close*,Adj Close**,Volume
0,0,"May 30, 2023",602.51,602.51,590.07,596.86,596.86,"153,156,800"
1,1,"May 26, 2023",604.77,610.46,599.85,602.51,602.51,"138,167,500"
2,2,"May 25, 2023",616.43,616.43,599.83,604.77,604.77,"162,236,500"
3,3,"May 24, 2023",613.23,621.22,611.35,616.43,616.43,"137,879,400"
4,4,"May 23, 2023",606.94,620.61,606.94,613.23,613.23,"139,637,800"

In [43]:
Industriald = pd.read_csv("C:/Users/Owner/Documents/GitHub/SmartInvest/Data/Industrials_JC.csv")

In [44]:
Industrials.head()

,Unnamed: 0,Date,Open,High,Low,Close*,Adj Close**,Volume
0,0,"May 26, 2023",826.17,833.27,825.80,830.39,830.39,"153,779,000"
1,1,"May 25, 2023",821.42,826.06,817.01,824.03,824.03,"193,548,900"
2,2,"May 24, 2023",829.92,829.93,820.46,821.53,821.53,"174,945,800"
3,3,"May 23, 2023",838.55,840.97,830.95,832.07,832.07,"180,217,300"
4,4,"May 22, 2023",843.31,847.44,835.76,842.45,842.45,"159,481,000"

In [45]:
Industrials.head()
Industrials.tail()
Industrials.sample(5)

,Unnamed: 0,Date,Open,High,Low,Close*,Adj Close**,Volume
161,161,"Oct 05, 2022",739.04,749.39,735.86,742.89,742.89,"169,185,700"
138,138,"Nov 07, 2022",807.32,813.65,802.82,812.48,812.48,"169,540,300"
216,216,"Jul 19, 2022",735.70,757.10,735.70,756.29,756.29,"193,742,100"
25,25,"Apr 21, 2023",855.53,855.65,848.33,851.44,851.44,"186,256,500"
174,174,"Sep 16, 2022",751.96,754.85,745.22,751.77,751.77,"373,455,900"

In [46]:
Energy.head()
Energy.tail()
Energy.sample(5)

,Unnamed: 0,Date,Open,High,Low,Close*,Adj Close**,Volume
182,182,"Sep 07, 2022",601.95,601.95,584.50,595.00,595.00,"173,573,700"
200,200,"Aug 11, 2022",574.62,598.05,574.62,592.94,592.94,"176,669,800"
659,659,"Oct 14, 2020",230.76,236.81,230.76,231.47,231.47,"220,547,800"
393,393,"Nov 03, 2021",438.65,439.41,432.07,434.99,434.99,"184,830,700"
1072,1072,"Feb 26, 2019",484.13,486.97,482.59,482.79,482.79,-

In [47]:
CommS.head()
CommS.tail()
CommS.sample(5)

,Unnamed: 0,Date,Open,High,Low,Close*,Adj Close**,Volume
1176,1176,"Sep 25, 2018",159.19,159.67,158.25,159.33,159.33,-
1069,1069,"Mar 01, 2019",154.00,155.33,154.00,155.20,155.20,-
435,435,"Sep 03, 2021",286.45,287.17,285.19,286.77,286.77,"108,863,000"
600,600,"Jan 08, 2021",220.77,221.47,218.52,221.32,221.32,"224,924,700"
874,874,"Dec 06, 2019",178.36,179.78,178.36,179.48,179.48,"132,238,700"

In [48]:
ConStaples.head()
ConStaples.tail()
ConStaples.sample(5)

,Unnamed: 0,Date,Open,High,Low,Close*,Adj Close**,Volume
548,548,"Mar 25, 2021",686.00,692.40,682.56,691.35,691.35,"122,649,900"
623,623,"Dec 04, 2020",688.23,692.98,687.51,692.93,692.93,"134,494,400"
109,109,"Dec 20, 2022",776.21,780.34,772.99,777.64,777.64,"109,214,500"
326,326,"Feb 09, 2022",796.77,800.76,794.10,795.29,795.29,"120,279,600"
1046,1046,"Apr 03, 2019",573.35,573.78,568.64,570.42,570.42,-

In [51]:
Industrials['Close*']

0      830.39
1      824.03
2      821.53
3      832.07
4      842.45
        ...
246    805.43
247    808.34
248    793.32
249    798.27
250    805.12
Name: Close*, Length: 251, dtype: float64

In [52]:
Energy['Close*']

0       596.86
1       602.51
2       604.77
3       616.43
4       613.23
         ...
1253    557.43
1254    554.30
1255    556.21
1256    561.37
1257    558.35
Name: Close*, Length: 1258, dtype: float64

In [53]:
CommS['Close*']

0       210.77
1       210.92
2       207.37
3       206.48
4       207.73
         ...
1253    148.01
1254    145.81
1255    145.08
1256    145.23
1257    144.87
Name: Close*, Length: 1258, dtype: object

In [54]:
ConStaples['Close*']

0       756.55
1       764.84
2       762.16
3       768.05
4       773.06
         ...
1253    510.31
1254    509.59
1255    512.06
1256    507.88
1257    508.01
Name: Close*, Length: 1258, dtype: object

In [55]:
Industrials.describe()

       Unnamed: 0        Open        High         Low      Close*  Adj Close**
count  251.000000  251.000000  251.000000  251.000000  251.000000   251.000000
mean   125.000000  810.527570  816.689482  804.352789  810.879124   810.879124
std     72.601653   46.339363   45.506594   46.891679   46.318342    46.318342
min      0.000000  704.200000  714.380000  700.260000  700.600000   700.600000
25%     62.500000  776.905000  782.730000  770.785000  776.495000   776.495000
50%    125.000000  827.600000  834.040000  823.540000  828.140000   828.140000
75%    187.500000  845.395000  850.180000  838.370000  845.315000   845.315000
max    250.000000  874.280000  879.610000  871.690000  874.820000   874.820000

In [56]:
Energy.describe()

,Unnamed: 0,Open,High,Low,Close*,Adj Close**
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000
mean,628.500000,460.451121,466.387973,454.512361,460.501963,460.501963
std,363.297628,126.962312,127.857766,125.881577,126.991902,126.991902
min,0.000000,179.940000,193.260000,172.450000,179.940000,179.940000
25%,314.250000,371.645000,377.192500,368.320000,371.645000,371.645000
50%,628.500000,453.375000,457.115000,450.565000,453.375000,453.375000
75%,942.750000,558.555000,565.025000,553.612500,558.555000,558.555000
max,1257.000000,720.160000,724.740000,711.960000,720.160000,720.160000

In [57]:
CommS.describe()

        Unnamed: 0
count  1258.000000
mean    628.500000
std     363.297628
min       0.000000
25%     314.250000
50%     628.500000
75%     942.750000
max    1257.000000

In [58]:
ConStaples.describe()

        Unnamed: 0
count  1258.000000
mean    628.500000
std     363.297628
min       0.000000
25%     314.250000
50%     628.500000
75%     942.750000
max    1257.000000

In [61]:
Industrials1=Industrials.drop(["Unnamed: 0"],axis=1)
Energy1=Energy.drop(["Unnamed: 0"],axis=1)
CommS1=CommS.drop(["Unnamed: 0"],axis=1)
ConStaples1=ConStaples.drop(["Unnamed: 0"],axis=1)