<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Python Notebook for Stock Market Analysis

- [API Reference]()
- [Reference]()

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

### Table of Contents <a class="anchor" id="PSMA_toc"></a>

* [Table of Contents](#PSMA_toc)
    * [1. Abstract](#PSMA_page_1)
    * [2. Imported Libraries](#PSMA_page_2)
    * [3. Import the Dataset](#PSMA_page_3)
    * [4. Setting Notebook Options](#PSMA_page_4)
    * [5. Looking at the Data](#PSMA_page_5)
    * [6. Checking the Column Names](#PSMA_page_6)
    * [7. Cleaning the Column Names](#PSMA_page_7)
    * [8. Creating a new Cleaned Dataset](#PSMA_page_8)
    * [9. Counting Columns](#PSMA_page_9)
    * [10. Get Info about the Dataset](#PSMA_page_10)
    * [11. Get Descriptive Statistics about the Dataset](#PSMA_page_11)
    * [12. Counting Rows and Removing any NANs](#PSMA_page_12)
    * [13. Correlation Analysis](#PSMA_page_13)
    * [14. Principal Component Analysis (PCA)](#PSMA_page_14)
    * [15. Group Comparison](#PSMA_page_15)
    * [16. Fisher's Discriminant Analysis and Support Vector Machines (SVM)](#PSMA_page_16)
    * [17. Groupby Function](#PSMA_page_17)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 1 - Abstract <a class="anchor" id="PSMA_page_1"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

In [1]:
print("jorge")

jorge

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 2 - Imported Libraries<a class="anchor" id="PSMA_page_2"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 3 - Import The Dataset<a class="anchor" id="PSMA_page_3"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

In [7]:
Financials = pd.read_csv("C:/Users/dizzy/Downloads/VFH.csv")

In [8]:
Financials.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2022-06-02  85.489998  86.900002  85.019997  86.839996  84.711449  1168000
1  2022-06-03  86.019997  86.300003  85.500000  85.610001  83.511597   583600
2  2022-06-06  86.389999  87.120003  85.870003  85.910004  83.804253   365300
3  2022-06-07  85.300003  86.620003  85.209999  86.570000  84.448067   325300
4  2022-06-08  85.820000  86.120003  84.709999  85.059998  82.975090   531400

In [11]:
Healthcare = pd.read_csv("C:/Users/dizzy/Downloads/GEHC.csv")

In [12]:
Healthcare.head()

         Date  Open       High        Low      Close  Adj Close   Volume
0  2022-12-15  63.0  63.000000  60.000000  60.000000  59.977310  1318200
1  2022-12-16  60.0  60.000000  55.000000  56.740002  56.718548  2307500
2  2022-12-19  53.0  58.990002  53.000000  56.500000  56.478634   117200
3  2022-12-20  58.0  58.000000  56.759998  57.209999  57.188366    22200
4  2022-12-21  59.0  66.279999  55.500000  56.959999  56.938461   290700

In [14]:
IT = pd.read_csv("C:/Users/dizzy/Downloads/IT.csv")

In [15]:
IT.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-06-02,261.970001,268.570007,260.369995,268.540009,268.540009,490600
1,2022-06-03,264.570007,267.510010,261.000000,266.790009,266.790009,500000
2,2022-06-06,269.000000,271.040009,265.500000,267.100006,267.100006,338000
3,2022-06-07,264.459991,269.010010,262.980011,267.320007,267.320007,358700
4,2022-06-08,265.059998,268.540009,260.690002,261.299988,261.299988,310300

In [16]:
CD = pd.read_csv("C:/Users/dizzy/Downloads/Consumer Discretionary.csv")

In [18]:
CD.head()

       Date      Open      High       Low    Close* Adj Close**  Volume
0  2-Jun-23  1,571.40  1,592.70  1,570.50  1,586.20    1,586.20     298

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

# Page 4 - Setting Notebook Options<a class="anchor" id="PSMA_page_4"></a>

[Back to Top](#PSMA_toc)

<hr style="height:5px;border-width:0;color:MediumAquamarine;background-color:MediumAquamarine">

         Date    Value
0  2022-01-01  4910.38
1  2022-01-31  4515.55
2  2022-02-01  4719.29
3  2022-02-28  4373.94
4  2022-03-01  4610.17