# Python Notebook for Stock Market Analysis

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../Data/data.csv")

In [3]:
data.head()

         Date    Value
0  2022-01-01  4910.38
1  2022-01-31  4515.55
2  2022-02-01  4719.29
3  2022-02-28  4373.94
4  2022-03-01  4610.17