# R notebook for Stock Market Analysis

In [1]:
data = read.csv("../Data/data.csv")

In [2]:
data

   Date       Value
1  2022-01-01 4910.38
2  2022-01-31 4515.55
3  2022-02-01 4719.29
4  2022-02-28 4373.94
5  2022-03-01 4610.17
6  2022-03-31 4530.41
7  2022-04-01 4584.61
8  2022-05-01 4172.23
9  2022-05-31 4132.15
10 2022-06-01 3971.65
11 2022-06-30 3785.38
12 2022-07-01 3985.14
13 2022-08-01 4238.11
14 2022-08-31 3955.00
15 2022-09-01 3915.75
16 2022-09-30 3585.62
17 2022-10-01 3773.86
18 2022-10-31 3871.98
19 2022-11-01 3971.77
20 2022-11-30 4080.11
21 2022-12-01 3978.81
22 2023-01-01 3995.95