# First you find a website you will collect your data from

(for my example, I will be using Yahoo Finance)

1. you will highlight all of the data from top to bottom (all columns and rows) and copy (ctrl+c)

2. come to your kernel where you will be importing your data and follow the next few steps:

In [1]:
#Steps for collecting/importing data

In [3]:
import pandas as pd

In [4]:
df = pd.read_clipboard()

In [5]:
df.head()

           Date   Open   High    Low Close* Adj Close** Volume
0  May 30, 2023  92.39  92.39  92.39  92.39       92.39      -
1  May 29, 2023  92.39  92.39  92.39  92.39       92.39      -
2  May 28, 2023  92.39  92.39  92.39  92.39       92.39      -
3  May 27, 2023  92.39  92.39  92.39  92.39       92.39      -
4  May 26, 2023  92.39  92.39  92.39  92.39       92.39      -

In [6]:
#Here you have your data, but you can only access it through your clipboard.

# Now we will make your copied data into a csv to organize it into Github

Where you choose to save your data will depend from which folder you are running Jupyter Lab from

(The example I am demonstrationg on is under my Documents/Github/SmartInvest/Notebooks/ExamplesNotebooks)

The path shown above is just an example of where you will find the saved data

#Steps to follow(this function below saves the data you copied into a csv)

In [11]:
df.to_csv("example.csv")

now you can go to your folder on your desktop and double check it actually saved to your desktop

once you have confirmed the data saved onto your desktop, you can import it like a regular csv

In [12]:
#example

In [13]:
Example = pd.read_csv("Example.csv")

In [14]:
Example.head()

   Unnamed: 0          Date   Open   High    Low Close* Adj Close** Volume
0           0  May 30, 2023  92.39  92.39  92.39  92.39       92.39      -
1           1  May 29, 2023  92.39  92.39  92.39  92.39       92.39      -
2           2  May 28, 2023  92.39  92.39  92.39  92.39       92.39      -
3           3  May 27, 2023  92.39  92.39  92.39  92.39       92.39      -
4           4  May 26, 2023  92.39  92.39  92.39  92.39       92.39      -

Since you already have the Jupyter Lab open under the folder you are working out of you do not have to run the path to import the data, you can just call for the dataframe name you saved the data as and make sure to put '.csv'

# Now to organize everything

You can actually organize everything from your desktop, and still upload it to GitHub.

Once the data is saved as .csv, you can move the file to the "Data" folder under our SmartInvest folder just like a regular file

Just make sure once you have all your data uploaded, to rename your data with your intials at the end so there is no confusions (example_JC)

Once everything is labeled and ready to go, open your Github (Desktop) > Pull Origin > Fetch (if it asks to fetch) > Enter a Summary (Explaining what you did) > Commit to main > push origin